name: GitHub Gist Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/github-gist-deploy.yml'
      - 'scripts/support_extra_files.sh'
      - 'compose.yaml'
      - 'settings/**'
      - 'docs/**'

env:
  GIST_DESCRIPTION: 'How to setup Jellyfin with Sonarr, Radarr, Prowlarr, Jellyseerr and qBittorrent using Docker'

jobs:
  deploy:
    name: Deploy to Gist
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy Docs
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          gist_description: ${{ env.GIST_DESCRIPTION }}
          gist_file_name: 'How to setup Jellyfin.md'
          file_path: docs/How-to-setup-Jellyfin.md

      - name: Deploy Questions
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          gist_file_name: 'Questions (FAQ).md'
          file_path: docs/Questions-FAQ.md

      - name: Compose Settings Markdown
        run: scripts/compose_settings_markdown.sh
      - name: Deploy Settings
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          gist_file_name: 'Settings.md'
          file_path: settings/settings.md

      - name: Deploy Docker Compose
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          gist_file_name: '~compose.yaml'
          file_path: compose.yaml

      - name: Deploy Script
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: ${{ secrets.GIST_ID }}
          file_path: scripts/support_extra_files.sh
